body {
  margin: 0px;
}

canvas {
  background-color: rgb(39, 39, 39);
  margin: 20px;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcg_7QQuHU80MnLTTVtg0Zr1l2omXmzw9YHfXgREgnrMGRrE0:https://i.pinimg.com/474x/15/b7/81/15b7816519aa3844b06c5c00170cb295.jpg&s);
}

img {
  display: none;
}