body {
  margin: 0px;
}

canvas {
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQm_d3UeE3I6jlUO1GOm99U9FWrNnLTTnN4WgDrnREzUbJDJvtx:https://i.pinimg.com/236x/d1/b0/06/d1b0061b96d96818e650cc7d8de971c4.jpg&s"/>
  background-color: rgb(39, 39, 39);
  margin: 20px;
}

img {
  display: none;
}
